<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>ورود به پنل مدیریت</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
        integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="assets/dashboard.rtl.css" rel="stylesheet">

    <style>
        @import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');

        body,
        p,
        a,
        h6,
        h5,
        h4,
        h3,
        h2,
        h1 {
            font-family: Vazir !important;
        }

        .form-signin {
            margin: 0 auto !important;
            width: 400px !important;
            margin-top: 150px !important;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>

<body class="text-center ">
    <div class="container ">

        <main class="form-signin">
            <form action="login" method="post">
                <img class="mb-4" src="../assets/img/profile-img.jpg" alt="" width="150" height="150">
                <h1 class="h3 mb-3 fw-normal">ورود به پنل</h1>
                <div class="form-group">
                    <label class="visually-hidden">ایمیل</label>
                    <input type="email" name="email" class="form-control" placeholder="ادرس ایمیل" required autofocus>
                </div>
                <div class="form-group">
                    <label class="visually-hidden">گذرواژه</label>
                    <input type="password" name="password" class="form-control" placeholder="گذرواژه" required>
                </div>
                <div class="form-group">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> مرا به خاطر بسپار
                        </label>
                    </div>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">ورود</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2021 ساخته شده توسط سینا ساعدی</p>
            </form>

            <% if (token) { %>

                <script>
                    localStorage.setItem("token", "<%= token %>")
                    location.href = '/panel'
                </script>

                <% } %>


                <% if (error) { %>
                    <p class="mt-3 text-danger">
                        <%= message %>
                    </p>
                <% } %>

        </main>

    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.min.js"
        integrity="sha384-VmD+lKnI0Y4FPvr6hvZRw6xvdt/QZoNHQ4h5k0RL30aGkR9ylHU56BzrE2UoohWK"
        crossorigin="anonymous"></script>

</body>

</html>