<!doctype html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>پنل مدیریت وب سایت شخصی</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
        integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="assets/dashboard.rtl.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">پنل مدیریت سامانه شخصی</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" onclick="exit()">خروج</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active mt-5" href="?page">
                                <span data-feather="home"></span>
                                داشبورد <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?page=about">
                                <span data-feather="about"></span>
                                درباره من
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="?page=fact">
                                <span data-feather="about"></span>
                                حقایق کاری
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="?page=resume">
                                <span data-feather="resume"></span>
                                رزومه
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="?page=portfolio">
                                <span data-feather="portfolio"></span>
                                نمونه کار
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <% if(page=='' ) { %>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">

                            داشبورد

                        </h1>
                    </div>
                    <p>
                        به پنل مدیریت سیستم هوشمند مدیریت محتوای داینامیک سایت شخصی خوش
                        آمدید
                    </p>
                </main>
                <% } %>


                    <% if(page=='about' ) { %>
                        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                            <div
                                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                <h1 class="h2">

                                    درباره من

                                </h1>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="name">محتوا</label>
                                    <textarea ype="text" class="form-control" id="about-name"
                                        placeholder="بنویسید"><%= data.about.content %> </textarea>
                                </div>



                                <a class="btn btn-info mt-5" href="#"
                                    onclick="AboutContent('<%= JSON.stringify(data.about) %>', )">ویرایش</a>

                                <br><br><br>

                                <h3>افزودن اطلاعات جدید</h3>
                                <form>
                                    <div class="form-group">
                                        <label for="name">عنوان لیست</label>
                                        <textarea ype="text" class="form-control" id="about-view"
                                            placeholder="بنویسید"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">مقدار</label>
                                        <textarea ype="text" class="form-control" id="about-data"
                                            placeholder="بنویسید"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="position">موقعیت</label>

                                        <select id="position" class="form-select form-control"
                                            aria-label="Default select example">
                                            <option data-id="left" selected>چپ</option>
                                            <option data-id="right">راست</option>
                                        </select>

                                    </div>





                                    <a class="btn btn-info mt-5" href="#"
                                        onclick="AboutList('<%= JSON.stringify(data.about) %>', )">افزودن</a>

                                </form>

                                <br>

                                <h4>
                                    لیست اطلاعات
                                </h4>
                                <br>

                                <br><br>
                                <div class="row">
                                    <% data.about.cols.forEach((col)=> { %>
                                        <div class="col-lg-6">
                                            <ul>
                                                <% col.forEach((elem)=> { %>
                                                    <li><i class="<%= elem.icon %>"></i> <strong>
                                                            <%= elem.view %>:
                                                        </strong>
                                                        <%= elem.data %>
                                                    </li>

                                                    <% }) %>


                                            </ul>
                                        </div>
                                        <% }) %>

                                </div>
                            </form>
                        </main>
                        <% } %>

                            <% if(page=='fact' ) { %>
                                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                                    <div
                                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                        <h1 class="h2">

                                            حقایق کاری

                                        </h1>
                                    </div>
                                    <form>


                                        <h4>
                                            حقایق کاری
                                        </h4>

                                        <a class="btn btn-danger" href="#"
                                            onclick="CrudFact('<%= JSON.stringify(data.facts) %>', undefined , false)">
                                            افزودن </a>
                                        <br>


                                        <br><br>
                                        <div class="row">
                                            <% data.facts.facts.forEach((fact)=> { %>
                                                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
                                                    data-aos="fade-up">
                                                    <div class="count-box">
                                                        <i class="<%= fact.icon %> size-font  text-primary"></i>
                                                        <br>
                                                        <span data-toggle="counter-up">
                                                            <%= fact.counter %>
                                                        </span>
                                                        <p><strong>
                                                                <%= fact.subtitle.bold %>
                                                            </strong>
                                                            <%= fact.subtitle.content %>
                                                        </p>

                                                        <p>
                                                            <a class="btn btn-info" href="#"
                                                                onclick="CrudFact('<%= JSON.stringify(data.facts) %>', '<%= JSON.stringify(fact) %>', false)">
                                                                ویرایش </a>

                                                            <a class="btn btn-danger" href="#"
                                                                onclick="CrudFact('<%= JSON.stringify(data.facts) %>', '<%= JSON.stringify(fact) %>', true)">
                                                                حذف </a>

                                                        </p>
                                                    </div>
                                                    <br>


                                                </div>


                                                <% }) %>

                                        </div>
                                    </form>
                                </main>
                                <% } %>

                                    <% if(page=='resume' ) { %>
                                        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                                            <div
                                                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                                <h1 class="h2">

                                                    رزومه

                                                </h1>
                                            </div>
                                            <form>







                                                <h3>افزودن اطلاعات جدید</h3>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="name">عنوان رزومه</label>
                                                        <input ype="text" class="form-control" id="resume-title"
                                                            placeholder="بنویسید">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">تاریخ</label>
                                                        <input type="text" class="form-control" id="resume-date"
                                                            placeholder="بنویسید">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">زیر عنوان رزومه</label>
                                                        <input type="text" class="form-control" id="resume-subtitle"
                                                            placeholder="بنویسید">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">محتوا</label>
                                                        <textarea type="text" class="form-control" id="resume-content"
                                                            placeholder="بنویسید"></textarea>

                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">توضیحات</label>
                                                        <textarea type="text" class="form-control"
                                                            id="resume-description" placeholder="بنویسید"></textarea>

                                                        <div class="form-group">
                                                            <label for="name">لیست رزومه</label>
                                                            <textarea type="text" class="form-control" id="resume-list"
                                                                placeholder="بنویسید"></textarea>

                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="position">موقعیت</label>

                                                        <select id="position" class="form-select form-control"
                                                            aria-label="Default select example">
                                                            <option data-id="left" selected>چپ</option>
                                                            <option data-id="right">راست</option>
                                                        </select>

                                                    </div>





                                                    <a class="btn btn-info mt-5" href="#"
                                                        onclick="NewResume('<%= JSON.stringify(data.resume) %>', )">افزودن</a>

                                                </form>

                                                <br>

                                                <h4>
                                                    لیست اطلاعات
                                                </h4>
                                                <br>

                                                <br><br>
                                                <div class="row">
                                                    <% data.resume.cols.forEach((col)=> { %>
                                                        <div class="col-lg-6">
                                                            <ul>
                                                                <% col.forEach((elem)=> { %>
                                                                    <li><i class="<%= elem.icon %>"></i> <strong>


                                                                            <%= elem.title %>
                                                                        </strong>
                                                                    </li>

                                                                    <% elem.items.forEach((item)=> { %>

                                                                        <%= item.date %>
                                                                            <%= item.title %>
                                                                                <%= item.content %>
                                                                                    <%= item.description %>

                                                                                        <br>
                                                                                        <%= item.list %>

                                                                                            <% }) %>

                                                                                                <br><br>

                                                                                                <a class="btn btn-danger"
                                                                                                    href="#"
                                                                                                    onclick="DeleteResume('<%= JSON.stringify(data.resume) %>', '<%= JSON.stringify(elem) %>')">
                                                                                                    حذف </a>

                                                                                                <% }) %>


                                                            </ul>
                                                        </div>
                                                        <% }) %>

                                                </div>
                                            </form>
                                        </main>
                                        <% } %>

                                            <% if(page=='portfolio' ) { %>
                                                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                                                    <div
                                                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                                        <h1 class="h2">

                                                            نمونه کار

                                                        </h1>
                                                    </div>
                                                    <div>
                                                        <section id="portfolio" class="portfolio section-bg">
                                                            <div class="container">

                                                                <div class="section-title">
                                                                    <h2>نمونه کار</h2>
                                                                    <p>در بخش زیر قسمت کوچکی از نمونه کارهای من را
                                                                        مشاهده میکنید.</p>
                                                                </div>

                                                                <div class="row" data-aos="fade-up">
                                                                    <div
                                                                        class="col-lg-12 d-flex justify-content-center">
                                                                        <ul id="portfolio-flters">
                                                                            <li data-filter="*" class="filter-active">
                                                                                همه</li>
                                                                            <li data-filter=".filter-app">اپلیکیشن</li>
                                                                            <li data-filter=".filter-card">کارت</li>
                                                                            <li data-filter=".filter-web">سایت</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <div class="row portfolio-container" data-aos="fade-up"
                                                                    data-aos-delay="100">

                                                                    <!-- start card filter -->

                                                                    <% data.portfolio.gallery.forEach((img)=> { %>
                                                                        <div
                                                                            class="col-lg-4 col-md-6 portfolio-item filter-<%= img.filter %>">
                                                                            <div class="portfolio-wrap">
                                                                                <img src="<%= img.image %>"
                                                                                    class="img-fluid" alt="">
                                                                                <div class="portfolio-links">
                                                                                    <a href="<%= img.image %>"
                                                                                        data-gall="portfolioGallery"
                                                                                        class="venobox"
                                                                                        title="Card 2"><i
                                                                                            class="bx bx-plus"></i></a>
                                                                                    <a href="#" title="More Details"><i
                                                                                            class="bx bx-link"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% }) %>




                                                                </div>

                                                            </div>
                                                        </section><!-- End Portfolio Section -->
                                                    </div>

                                                    <h3>افزودن نمونه کار جدید</h3>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="category">دسته بندی</label>

                                                            <select id="category" class="form-select form-control"
                                                                aria-label="Default select example">
                                                                <option data-id="card" selected>کارت</option>
                                                                <option data-id="app">اپلیکیشن</option>
                                                                <option data-id="web">وب</option>
                                                            </select>

                                                        </div>

                                                        <div class="custom-file form-control">


                                                            <input type="file" class="custom-file-input" id="file"
                                                                required onchange="uploadFile()">
                                                            <label class="custom-file-label" id="fileplaceholder"
                                                                for="file">فایل خود را
                                                                اتخاب
                                                                کنید</label>
                                                            <div class="invalid-feedback">خطایی رخ داده است.
                                                            </div>
                                                        </div>



                                                        <a class="btn btn-info mt-5" href="#"
                                                            onclick="addNewPortfolio('<%= JSON.stringify(data.portfolio) %>', )">افزودن</a>

                                                    </form>
                                                </main>
                                                <% } %>

        </div>
    </div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.min.js"
    integrity="sha384-VmD+lKnI0Y4FPvr6hvZRw6xvdt/QZoNHQ4h5k0RL30aGkR9ylHU56BzrE2UoohWK"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/modules/axios/dist/axios.min.js"></script>



<!-- Vendor JS Files -->
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->



<script>



    // Porfolio isotope and filter
    $(window).on('load', function () {
        var portfolioIsotope = $('.portfolio-container').isotope({
            itemSelector: '.portfolio-item',
            layoutMode: 'fitRows'
        });

        $('#portfolio-flters li').on('click', function () {
            $("#portfolio-flters li").removeClass('filter-active');
            $(this).addClass('filter-active');

            portfolioIsotope.isotope({
                filter: $(this).data('filter')
            });
        });


    });




    async function AboutContent(about) {

        const aboutName = document.querySelector('#about-name');
        const parse = JSON.parse(about)


        parse.content = aboutName.value

        const data = await axios.post('api/put', {
            section: parse.section,
            data: {
                content: parse.content,
                cols: parse.cols
            }
        }, {
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.token
            }
        })

        location.reload()
    }

    async function DeleteResume(resume, elem) {

        const parse = JSON.parse(resume)
        elem = JSON.parse(elem)



        parse.cols.forEach((col, i) => {


            col.forEach((element, j) => {

                if (JSON.stringify(element) == JSON.stringify(elem)) {

                    col.splice(j, 1);
                }
            })

        })
        const data = await axios.post('api/put', {
            section: parse.section,
            data: {

                cols: parse.cols
            }
        }, {
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.token
            }
        })

        location.reload()

    }

    async function NewResume(resume) {

        const parse = JSON.parse(resume)

        const position = $("#position").find(':selected').attr('data-id')

        const title = document.querySelector('#resume-title');
        const date = document.querySelector('#resume-date');
        const subtitle = document.querySelector('#resume-subtitle');

        const content = document.querySelector('#resume-content');
        const description = document.querySelector('#resume-description');
        const list = document.querySelector('#resume-list');




        if (position == 'left') {
            parse.cols[1].push({
                "title": title.value,
                "items": [
                    {
                        "date": date.value,
                        "title": title.value,
                        "content": content.value,
                        "description": description.value,
                        "list": list.value.split(',')
                    }
                ]
            })

        }

        if (position == 'right') {
            parse.cols[0].push({
                "title": title.value,
                "items": [
                    {
                        "date": date.value,
                        "title": title.value,
                        "content": content.value,
                        "description": description.value,
                        "list": list.value.split(',')
                    }
                ]
            })

        }

        const data = await axios.post('api/put', {
            section: parse.section,
            data: {
                cols: parse.cols
            }
        }, {
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.token
            }
        })

        location.reload()


    }

    async function AboutList(about) {

        const parse = JSON.parse(about)

        const position = $("#position").find(':selected').attr('data-id')

        const aboutView = document.querySelector('#about-view');
        const aboutData = document.querySelector('#about-data');


        if (position == 'left') {
            parse.cols[1].push({
                "view": aboutView.value,
                "data": aboutData.value,
                "icon": "icofont-rounded-left"
            })

        }

        if (position == 'right') {
            parse.cols[0].push({
                "view": aboutView.value,
                "data": aboutData.value,
                "icon": "icofont-rounded-left"
            })

        }




        const data = await axios.post('api/put', {
            section: parse.section,
            data: {
                content: parse.content,
                cols: parse.cols
            }
        }, {
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.token
            }
        })

        location.reload()
    }

    async function CrudFact(facts, facti, del) {

        const parse = JSON.parse(facts)

        let fact = null
        if (facti) {
            fact = JSON.parse(facti)
        }


        // delete if del is active
        if (del) {
            parse.facts.forEach((element, i) => {
                if (JSON.stringify(element) == JSON.stringify(fact)) {

                    parse.facts.splice(i, 1);
                }
            })
            const data = await axios.post('api/put', {
                section: parse.section,
                data: {

                    facts: parse.facts
                }
            }, {
                headers: {
                    'Content-Type': 'application/json',
                    'token': localStorage.token
                }
            })


            location.reload()

            return
        }





        const result = await KeyValueArray([{
            type: "text",
            placeholder: "ایکون را وارد کنید",
            name: "icon",
            label: "ایکون"
        },
        {
            type: "text",
            placeholder: "عنوان بزرگ وارد کنید",
            name: "bold",
            label: "عنوان"
        },
        {
            type: "text",
            placeholder: "عنوان کوچک وارد کنید",
            name: "content",
            label: "عنوان"
        },
        {
            type: "number",
            placeholder: "شمارنده را وارد کنید",
            name: "counter",
            label: "مقدار"
        }
        ])


        // check if fact is null 
        if (!fact) {

            const element = {
                subtitle: {}
            }


            element.icon = result.icon
            element.counter = result.counter
            element.subtitle.bold = result.bold
            element.subtitle.content = result.content

            parse.facts.push(element)

            console.log(parse)

            const data = await axios.post('api/put', {
                section: parse.section,
                data: {

                    facts: parse.facts
                }
            }, {
                headers: {
                    'Content-Type': 'application/json',
                    'token': localStorage.token
                }
            })
            location.reload()

            return
        }

        if (result) {
            parse.facts.forEach((element) => {
                if (JSON.stringify(element) == JSON.stringify(fact)) {
                    element.icon = result.icon
                    element.counter = result.counter
                    element.subtitle.bold = result.bold
                    element.subtitle.content = result.content

                }
            })

            const data = await axios.post('api/put', {
                section: parse.section,
                data: {

                    facts: parse.facts
                }
            }, {
                headers: {
                    'Content-Type': 'application/json',
                    'token': localStorage.token
                }
            })
            location.reload()
        }

    }


    async function KeyValueSwal() {
        const { value: title } = await Swal.fire({
            input: 'text',
            inputLabel: 'عنوان',
            inputPlaceholder: 'عنوان را وارد کنید',
            showCancelButton: true,
            confirmButtonText: 'ثبت دیتا',
            cancelButtonText: 'پشیمون شدم',
            cancelButtonColor: '#ff0000',
        })

        if (title) {
            const { value: value } = await Swal.fire({
                input: 'text',
                inputLabel: 'مقدار',
                inputPlaceholder: 'مقدار را وارد کنید',
                showCancelButton: true,
                confirmButtonText: 'ثبت دیتا',
                cancelButtonText: 'پشیمون شدم',
                cancelButtonColor: '#ff0000',
            })

            return { value, title }

        }

        return null
    }


    const portfolioFile = {
        image: null,
        selected: null
    }



    async function addNewPortfolio(json) {

        const parse = JSON.parse(json)

        const filter = $("#category").find(':selected').attr('data-id')
        console.log({
            "image": "/uploads/" + portfolioFile.image,
            "filter": filter
        })
        if (portfolioFile.image) {
            parse.gallery.push({
                "image": "/uploads/" + portfolioFile.image,
                "filter": filter
            })
        }


        const data = await axios.post('api/put', {
            section: parse.section,
            data: {

                gallery: parse.gallery
            }
        }, {
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.token
            }
        })

        location.reload()
    }

    async function uploadFile() {
        const formData = new FormData();
        const imagefile = document.querySelector('#file');
        const fileplaceholder = document.querySelector('#fileplaceholder');
        fileplaceholder.innerHTML = "در حال آپلود فایل"

        formData.append("file", imagefile.files[0]);
        const data = await axios.post('api/upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data',
                'token': localStorage.token
            }
        })

        portfolioFile.image = data.data.file.filename;
        fileplaceholder.innerHTML = "فایل مورد نظر آپلود شد : " + data.data.file.originalname

    }
    async function KeyValueArray(inputs) {

        const result = {}
        let retry = false;
        for (input of inputs) {
            const { value: val } = await Swal.fire({
                input: input.type,
                inputLabel: input.label,
                inputPlaceholder: input.placeholder,
                showCancelButton: true,
                confirmButtonText: 'ثبت دیتا',
                cancelButtonText: 'پشیمون شدم',
                cancelButtonColor: '#ff0000',
            })

            if (!val) {
                result = null
                break;
            }



            result[input.name] = val
        }

        return result

    }

    function exit() {
        localStorage.clear()
        location.href = "/login"
    }

    function Guard() {
        // check if token is not valid 
        if (!localStorage.token) {
            location.href = "/login"
        }

    }
    Guard()
</script>

</html>