<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>وبسایت شخصی سینا ساعدی</title>
  <meta content="سایت شخصی سینا ساعددی" name="descriptison">
  <meta content="سینا" name="autour">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- bootstrap rtl -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap-rtl.min.css">
  <!-- font vazir -->
  <link rel="stylesheet" href="assets/fonts/style.css">

</head>

<body dir="rtl">

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">سینا ساعدی</a></h1>
        <!-- social icon  -->
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/sinasaediiii" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="htpps://instagram.com/sinasaediiii" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>خانه</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>درباره من</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>رزومه</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> نمونه کار</a></li>
          <li><a href="#services"><i class="bx bx-server"></i> خدمات</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> ارتباط با من</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>
        <%= home.title %>
      </h1>
      <p>
        <%= home.subtitle.before %> <span class="typed" data-typed-items=" <%= home.subtitle.content %>"></span>
          <%= home.subtitle.after %>.
      </p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>دریاره من</h2>
          <p>سینا ساعدی هستم برنامه نویس بک اند و فرانت اند. در حال حاضر در تیم توسعه شرکت عصر ارتباطات دهکده مشغول به
            فعالیت هستم.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <br>
            <h3>طراح UI / UX &amp; کاربر پسند.</h3>
            <p class="font-italic">
              میتونید اطلاعات بیشتری رو در مورد من با خواندن مطالب زیر به دست
              آورید.
            </p>
            <div class="row">
              <% about.cols.forEach((col)=> { %>
                <div class="col-lg-6">
                  <ul>
                    <% col.forEach((elem)=> { %>
                      <li><i class="<%= elem.icon %>"></i> <strong>
                          <%= elem.view %>:
                        </strong>
                        <%= elem.data %>
                      </li>

                      <% }) %>


                  </ul>
                </div>
                <% }) %>

            </div>
            <p>
              <%= about.content %>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>حقایق کاری</h2>
        </div>

        <div class="row no-gutters">

          <% facts.facts.forEach((fact)=> { %>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
              <div class="count-box">
                <i class="<%= fact.icon %>"></i>
                <span data-toggle="counter-up">
                  <%= fact.counter %>
                </span>
                <p><strong>
                    <%= fact.subtitle.bold %>
                  </strong>
                  <%= fact.subtitle.content %>
                </p>
              </div>
            </div>

            <% }) %>



        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>مهارت و تخصص ها</h2>
          <p>میتونید تخصص های من در زمینه طراحی وب واندروبد در لیست زیر مشاهده کنید.</p>
        </div>

        <div class="row skills-content">

          <% skills.cols.forEach((col)=> { %>


            <div class="col-lg-6" data-aos="fade-up">


              <% col.forEach((col)=> { %>

                <div class="progress">
                  <span class="skill">
                    <%= col.skillName %> <i class="val">
                        <%= col.amount %>
                      </i>
                  </span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= col.number %>" aria-valuemin="0"
                      aria-valuemax="100">
                    </div>
                  </div>
                </div>
                <% }) %>







            </div>

            <% }) %>



        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>رزومه</h2>
          <p> از همون بچگی علاقه زیادی به موس و کیبورد داشتم اما الان میتونم با موس و کیبورد چیزهای خوبی خلق کنم . از 12
            سالگی تا الان در حال یادگیری تکنولوژی های جدید در زمینه طراحی وب هستم و علاقه فراوانی به بروز شدن دارم. </p>
        </div>

        <div class="row">
          <% resume.cols.forEach((col)=> { %>

            <div class="col-lg-6" data-aos="fade-up">

              <% col.forEach((resume)=> { %>
                <h3 class="resume-title">
                  <%= resume.title %>
                </h3>

                <% resume.items.forEach((item)=> { %>
                  <div class="resume-item pb-0">
                    <h4>شروع در دوران کودکی</h4>
                    <% if(item.date){ %>
                      <h5>
                        <%= item.date %>
                      </h5>
                      <% } %>
                        <p><em>
                            <%= item.content %>
                          </em></p>
                        <p>
                          <%= item.description %>
                        </p>
                        <% if(item.list.length> 0){ %>
                          <ul>
                            <% item.list.forEach((li)=> { %>
                              <li>
                                <%= li %>
                              </li>
                              <% }) %>
                          </ul>
                          <% } %>
                  </div>
                  <% }) %>


                    <% }) %>



            </div>
            <% }) %>

        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>نمونه کار</h2>
          <p>در بخش زیر قسمت کوچکی از نمونه کارهای من را مشاهده میکنید.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">همه</li>
              <li data-filter=".filter-app">اپلیکیشن</li>
              <li data-filter=".filter-card">کارت</li>
              <li data-filter=".filter-web">سایت</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <!-- start card filter -->

          <% portfolio.gallery.forEach((img)=> { %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-<%= img.filter %>">
              <div class="portfolio-wrap">
                <img src="<%= img.image %>" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="<%= img.image %>" data-gall="portfolioGallery" class="venobox" title="Card 2"><i
                      class="bx bx-plus"></i></a>
                  <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <% }) %>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>خدمات و پشیبانی</h2>
          <p>کلی کارهایی که توسط من طراحی می شوند شامل خدمات پایه ایی به شرح ذیل میشوند.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="">پشتیبانی</a></h4>
            <p class="description">پشتیبانی محصول ساخته شده تا 6 ماه به صورت رایگان</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="">نگهداری سرور</a></h4>
            <p class="description">نگهداری سرور سایت به صورت کاملا رایگان به مدت 1 سال</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="">Kubernetes</a></h4>
            <p class="description">هدف Kubernetes ارائه‎ی راهی بهتر برای مدیریت و توزیع اجزا و سرویس‎ها در سراسر زیرساخت
              است.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-image"></i></div>
            <h4 class="title"><a href="">بهینه سازی </a></h4>
            <p class="description">بهینه سازی سایت و فشرده سازی تصاویر و فایل های css , js</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-settings"></i></div>
            <h4 class="title"><a href="">عیب یابی</a></h4>
            <p class="description">عیب یابی سرور و سایت به مدت 2 سال رایگان.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="icofont-tasks-alt"></i></div>
            <h4 class="title"><a href="">زمان</a></h4>
            <p class="description"> ارائه و آماده سازی سایت شما در کمترین زمان و هزینه به صورت کاملا اختصاصی</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>اطلاعات تماس</h2>
          <p>از طریق اطلاعات داده شده میتوانید با من در ارتباط باشید. برای مشاوره رایگان نیز میتوانید تماس بگیرید..</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>آدرس:</h4>
                <p>ایران ، اراک ، دانشکده فنی و حرفه ایی امیرکبیر</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>ایمیل :</h4>
                <p>sina6666@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>شماره تماس :</h4>
                <p>7909 941 937 98+ </p>
              </div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.282341423528!2d49.727162014941754!3d34.1135208805892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fecbf74e528caad%3A0xdc78d9a077c0f633!2z2K_Yp9mG2LTaqdiv2Ycg2b7Ys9ix2KfZhiDYp9mF24zYsSDaqdio24zYsQ!5e0!3m2!1sen!2sbg!4v1593736896897!5m2!1sen!2sbg"
                width="100%" height="290px" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false"
                tabindex="0"></iframe>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; کپی رایت <strong><span>2020</span></strong>
      </div>
      <div class="credits">
        طراحی شده توسط: <a href="https://sinasaedi.ir/" class="credits-orange" target="_black">سینا ساعدی</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>